/*Using Custom CSS classes
We can define our own custom CSS classes in a separate CSS file, and also
customize some of the built-in CSS classes.
Created a folder named css. Then created a file named styles.css in the css folder.
Open this file to edit the contents. Add the following CSS code to the file:
.row-header, .row-content, .footer*/
/* 1.- These are for the 'row' value in the html we're developing.*/
.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 4px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20 px 0px 20px 0px;
}

/*Next set of customization are the jumbotron and the address by adding the following:
.jumbotron
.address
*/
/* 2.- These are added to change colors and overall style of the named div.*/
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

/*Next set of customization are the body and the navbar-dark by adding the following:
body
.navbar-dark
*/
/* 3.- These are added to change colors and overall style of the named div.*/
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

.icon {
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
}

textarea {
    resize: none; /* Disables resizability of the <textarea> tag.*/
}